os: linux
dist: bionic
language: generic
env:
  global:
    - UpstreamRepo="https://android.googlesource.com/kernel/common.git"
    - originRepo="https://github.com/rokibhasansagar/aosp_common_kernels.git"
    - originRepoSlug="rokibhasansagar/aosp_common_kernels"
  matrix:
    - branch="android-3.18"
    - branch="android-4.4"
    - branch="android-4.9"
    - branch="android-4.14"
    - branch="android-4.19"
    - branch="upstream-linux-3.18.y"
    - branch="upstream-linux-4.4.y"
    - branch="upstream-linux-4.9.y"
    - branch="upstream-linux-4.14.y"
    - branch="upstream-linux-4.19.y"
git:
  depth: 1
addons:
  apt:
    update:
    - true
install: true
script:
  - "travis_wait 30 sleep 1800 &"
  - |
    git config --global user.email ${GitHubMail}
    git config --global user.name ${GitHubName}
    git config --global color.ui true
  - |
    oldsha=$(git ls-remote ${originRepo} "refs/heads/${branch}" | cut -f1)
    echo -en "The last commit SHA of self repo is - " && echo ${oldsha}
    newsha=$(git ls-remote ${UpstreamRepo} "refs/heads/${branch}" | cut -f1)
    echo -en "The last commit SHA of Upstream repo is - " && echo ${newsha}
  - |
    if [ ${oldsha} == ${newsha} ]; then
      echo "Tree is up-to-date. No need to pull"
      exit 0
    elif [ ${oldsha} != ${newsha} ]; then
      echo "Tree is not up-to-date. So, need to update"
      git clone --progress ${originRepo} -b ${branch} --single-branch ${branch}/
      cd ${branch}/
      git remote add upstream ${UpstreamRepo}
      echo "Pulling latest changes into own"
      git pull upstream ${branch} --force --progress --ff --no-edit --no-commit --allow-unrelated-histories || exit 1
      git branch --track -f master
      echo "Pushing into GitHub now"
      git push --force https://${GitOAUTHToken}@github.com/${originRepoSlug}.git HEAD:${branch} || exit 1
      echo "The new changes added are -- "
      git log --oneline ${oldsha}..${newsha}
      cd -
      rm -rf ${branch}
      echo "Operation Complete!"
    fi
branches:
  only:
  - master
notifications:
  email:
    on_success: never
    on_failure: always
  webhooks: https://fathomless-fjord-24024.herokuapp.com/notify
